@model studentmanagent.Models.classmodel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>classmodel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.class_roomno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.class_roomno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.class_strength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.class_strength)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
